body.dark {background-color: $darkoscuro;
    header { background-color: $darkclaro;
    border-bottom: 2px solid $letoscura;}
    .containerMov_titulo{color: $letclara;}
    .footerP P{color: $letblanca;}
    .footerP h4{background-color: $darkclaro;}
    .shop1 {background-color: $darkclaro;}
    .tituloCompras {color: $letclara;}
    .valoracion__tarjeta-texto { color: $letblanca;}
    .menu li:hover { background-color: $darkclaro;}
    figure.imgcont {background-color: $darkmedio;}
 
}