.footerP {
	display: flex;
	margin-top: 40px;
	flex-wrap:wrap;
	justify-content: space-around;
	P {
		font-size: 1.4em;
		padding: 40px;
		font-family:$fontraleway;
		width: 100%;
	} 
	img { 
		margin-top: 20px;
		height: 40px;
		width: 40px;
	}
	h4 {
		background:rgb(224,99,119);
		width: 100%;
		padding-top: 15px;
		margin-top:20px;
		font-size: 1.2em;
		text-align: center;
		color: #fff;
		height: 90px;
		font-family:$fontraleway;
	}
	span {
		font-size: 1.2em;}
}
//---------------animacion letras desarrollador--------------------//
#jpp0 {
	animation-name: jpp;
	transition: all 600ms;
	animation-duration: 6.5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

#jpp1 {
	animation-name: jpp;
	transition: all 600ms;
	animation-duration: 6.5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}
#jpp2 {
	animation-name: jpp;
	transition: all 600ms;
	animation-duration: 6.5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-delay: 3s;
}
@keyframes jpp {
	from { color:rgb(73, 70, 78);}
	50% {color: #fff;}
	to {color: #2e292a;}
}

