@media (min-width:100px) and (max-width: 768px) {
	.imgcont {
	margin: 0px;
	width: 600px;
	min-width: 220px;
   	max-width: 380px;
    max-height: 260px;
	}
	
	.mainContent { display: flex;
	justify-content: center;
	}
	.containerMov_titulo{
		padding-left: 20px;
	}
	.tituloProducto .tituloContacto .containerMov_titulo {
		font-size: 2rem;
	}
	.logoprincipal .logodark {
		height: 110px;
		width: 100px;
	}
	.switchContent{
		margin-right: -50px;}
	.containerMov {
		max-height: 350px;
	}
	.containerMov__text-parrafo { 
		font-size: 1.2em;
		padding: 20px;
	}
	#dulce {
		display: flex;
		max-width: 300px;
		font-size: 70px;
		margin-top: 150px;
		text-align: center;
		padding-right: 10px;
	}
	#tejido {font-size: 45px;
	}
	#espera {font-size: 30px;
		text-align: center;
	}
	.emma { font-family:$fontraleway;
		font-size: 2em;
		color: #fff;
		padding-left: 25%;
		padding-top: 5px;
	}
	header { 
		display:flex;
		background-color: #e06377;
		height: 50px;
	}
	header label {
		display: inline-flex;
	}
	.switch {
		margin-top: 10px;
	}
	.menu { 
		position: absolute;
		background: rgb(224,99,119);
		width: 70%;
		margin-left: -70%;
		margin-top: 50px;
		transition-duration: 0.5s;
		z-index: 100
	}
	.menu ul { 
		flex-direction: column;
		padding-left: 0px;
	}
	.menu li a { 
		text-align: left;
		border-bottom: 1px solid #fff;
	}
	.menu li { 
		background-color: none;
	}
	#btn-menu:checked ~ .menu { 
		margin: 0px;
		margin-top: 50px;
	} 
	.main { 
		margin-top: 0px;
		display: flex;
		min-width:100%;
	}
	.img1 img, .img2 img, .img3 img, .img4 img {
		height: 300px;
		width: 300px;
		border-radius: 150px;
		margin: 30px;
		box-sizing: border-box;
		box-shadow: 4px 4px 10px rgba(224,99,119,0.5);
	}
	.img1 img:hover, .img2 img:hover, .img3 img:hover, .img4 img:hover {
		width: 320px;
		height: 320px;
		transition-duration: 1s;
		border-radius: 160px;
	}
	.main div div { 
		margin-top: -30px;
		font-size: 2em;
		font-family: 'Caveat', cursive;
	}
	.aside { 
		padding-top: 50px;
		padding: 0px;		
		margin: 20px;
		width: 100%; 
		h4 { width: 100%;}			
	}
	.aside p {font-size: 1em;
		padding-top:50px;
	}
	//------------formulario realizado con grid---------------//
	#formContact { 
		display: grid;
		grid-template-areas: "nombre nombre"
		"apellido apellido" 
		"email email" 
		"telefono telefono"  
		"localidad localidad"  
		"btn-submit clean";
		grid-template-rows: auto;
		grid-template-columns: auto;
		justify-items:stretch;
		grid-column-gap: 20px;
		grid-row-gap: 30px;
		padding: 30px;
		border:none;
		align-items: center;
		background-color: #e06377;
		border-radius: 10px;
		box-shadow: 0px 9px 21px 6px rgba(0,0,0,0.5);
		font-size: 0.8em;
	}
	.mainContact { 
		margin-right: 20px;
		margin-left: 20px; 
	}
	.footerP{ 
		p { 
		display:inline-block;
		color: black;
		padding-right: 20px;
		padding-left: 20px; 
		font-size: 1.2em;
		}
		h4 {font-size: 1em;
		}
	}
	
	@keyframes redes { 
		from { transform: scale(1)
		}
			
		50% { transform: scale(1.2)
		}
	
		to {transform: scale(1)
		}
	}       
	//----------------------dark mode -----------------------//
	body.dark {
		background-color: $darkoscuro;
		.menu {
			background-color: $darkclaro	;}
		header label {
			width: 50px;
			height: auto;
		}
		header label:hover {
			background-color: $darkmedio;
			width: 50px;}
		}
		
}
@media (min-width:626px) and (max-width: 1065px) {
	.main { 
		margin-top: 30px;
		min-width:100%;
	}
	.aside { 
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 100px;
		margin: 40px;
		justify-content: space-between;
		h4 {
			font-size:1.9em;
			ul { 
				list-style: square;
				li {font-size: 1.3em;}
			}
		}						 
	}
}

