.mainContent {
    display: flex;
    flex-wrap: wrap;
}
.main { margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    max-width: 70%;
}
.main div {padding: 0px;
	text-align: center;	
}
.main div div { margin-top: -30px;
	font-size: 3em;
	font-family: 'Annie Use Your Telescope', cursive;
}
.aside { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:auto;
    padding-top: 100px;
    margin: 30px;
    h4 { color: black;
        width: 200px;
		font-size:1.7em;
	}						 
}
.imgdiv img {
	@include tamaño (300px, 300px);
	border-radius: 150px;
	margin: 30px;
	box-sizing: border-box;
	box-shadow: 4px 4px 10px $rosita;
	
}
.imgdiv img:hover  {
	@include tamaño (320px, 320px);
	transition-duration: 1s;
	border-radius: 160px;
}
.asideList {font-family: 'Annie Use Your Telescope', cursive;
    font-size: 0.7em;  
}
.aside h4 {font-family: 'Annie Use Your Telescope', cursive;
    margin-top: 30px;
    font-size: 3em;
}
.asideList li {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 0.8em;
}