* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

.start {
  background-color: #e06377;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-animation-name: start;
          animation-name: start;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  align-items: center;
}

#dulce {
  font-size: 150px;
  text-align: center;
  font-family: "Caveat", cursive;
  color: #e06377;
  margin-top: 50px;
}

#tejido {
  font-size: 80px;
  text-align: center;
  color: #e06377;
}

@-webkit-keyframes start {
  from {
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  to {
    background-color: #e06377;
  }
}

@keyframes start {
  from {
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  to {
    background-color: #e06377;
  }
}
.boton-start {
  width: 100px;
  color: #fff;
  background-color: #e06377;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
  text-decoration: none;
  -webkit-animation-name: botonStart;
          animation-name: botonStart;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

a {
  text-decoration: none;
  color: #fff;
}

.boton-start:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
}

.boton-start:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}

#espera {
  color: #fff;
  margin-top: -80px;
}

#intro-link {
  text-decoration: none;
}

@-webkit-keyframes botonStart {
  from {
    transform: scale(0);
    transform: rotate(0deg);
    border: #e06377;
    background-color: #fff;
    box-shadow: none;
    opacity: 0;
    margin: 50px;
  }
  50% {
    transform: scale(0);
    transform: rotate(180deg);
    border: #e06377;
    background-color: #e06377;
    box-shadow: none;
    opacity: 0;
    margin: 50px;
  }
  to {
    transform: scale(2);
    margin: 50px;
  }
}

@keyframes botonStart {
  from {
    transform: scale(0);
    transform: rotate(0deg);
    border: #e06377;
    background-color: #fff;
    box-shadow: none;
    opacity: 0;
    margin: 50px;
  }
  50% {
    transform: scale(0);
    transform: rotate(180deg);
    border: #e06377;
    background-color: #e06377;
    box-shadow: none;
    opacity: 0;
    margin: 50px;
  }
  to {
    transform: scale(2);
    margin: 50px;
  }
}
header {
  width: 100%;
  background-color: #e06377;
  display: flex;
  z-index: 500;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-right: 1px solid #fff;
}

header label:hover {
  cursor: pointer;
  background-color: #e06377;
}

.emma {
  color: #fff;
  font-size: 2em;
}

header label img {
  height: 30px;
  width: 25px;
  padding-left: 2px;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0px;
  display: flex;
}

.menu li {
  border-right: 1px solid #fff;
}

header div {
  font-family: "Caveat", cursive;
  align-self: center;
  font-size: 30px;
  padding-left: 25%;
}

.menu li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.aside p {
  font-weight: 10px;
  font-size: 15px;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.shop5, .shop4, .shop3, .shop2, .shop1 {
  height: 300px;
}

.dropwown-text {
  font-size: 1.4em;
}

.containerMov__text-parrafo {
  font-size: 2.2em;
  color: black;
  text-shadow: 1px 1px #e7e2e2;
  padding: 20px;
  position: relative;
  padding: 40px;
  font-family: "Caveat", cursive;
}

.main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgdiv img, .img2 img, .img3 img, .img4 img {
  /* height: 300px;
  width: 300px; */
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(224, 99, 119, 0.5);
}

.imgdiv img:hover, .img2 img:hover, .img3 img:hover, .img4 img:hover {
  /* width: 320px;
  height: 320px; */
  height: 320px;
  width: 320px;
  transition-duration: 1s;
  border-radius: 160px;
}

.main div {
  padding: 0px;
  text-align: center;
}

.main div div {
  margin-top: -30px;
  font-size: 3em;
  font-family: "Caveat", cursive;
}

.body {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/********* menu slider ***************/
@-webkit-keyframes autoplay {
  25% {
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  50% {
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  75% {
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% * 3), 0, 0);
  }
}
@keyframes autoplay {
  25% {
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  50% {
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  75% {
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% * 3), 0, 0);
  }
}
.slidebox {
  display: flex;
  justify-content: center;
}

.container-all {
  margin-top: 50px;
  display: flex;
  max-width: 1000px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.item-slide img {
  max-width: 100%;
}

.slide {
  display: flex;
  transform: translate3d(0, 0, 0, 0);
  transition: all 600ms;
  -webkit-animation-name: autoplay;
          animation-name: autoplay;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination {
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input[id="1"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background: #fff;
}

input[id="2"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background: #fff;
}

input[id="3"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background: #fff;
}

input[id="4"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"] {
  background: #fff;
}

/********* tarjetas de valoracion ***************/
.valoracion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

.valoracion__tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  width: 200px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(224, 99, 119, 0.5);
  padding: 20px;
  margin: 20px;
}

.valoracion__tarjeta-img img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(224, 99, 119, 0.5);
}

.valoracion__tarjeta-texto {
  margin-top: 10px;
}

/********* seccion compra ***************/
.shop1 {
  background-color: #ffe6e6;
}

.shop2 {
  background-color: #ffcccc;
}

.shop3 {
  background-color: #ffb3b3;
}

.shop4 {
  background-color: #ff9999;
}

.shop5 {
  background-color: #ff8080;
}

.shop6 {
  background-color: #ff6666;
  height: 300px;
}

/********* formulario de contacto ***************/
.mainContact {
  margin-top: 100px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 100px;
}

.field_contacto {
  border: none;
  text-align: center;
}

.aside {
  background-color: none;
  padding: 30px;
  margin: 20px;
}
.aside p {
  color: black;
  font-size: 1.2em;
}

#formContact {
  display: grid;
  grid-template-areas: "nombre nombre apellido apellido" "email email telefono telefono" "localidad localidad btn-submit clean";
  grid-template-rows: 50px 40px 40px;
  grid-template-columns: auto;
  justify-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding: 30px;
  border: none;
  align-items: center;
  background-color: #e06377;
  border-radius: 10px;
  box-shadow: 0px 9px 21px 6px rgba(0, 0, 0, 0.5);
}

#formContact .nombre {
  grid-area: nombre;
  height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  transition: 0.4s border;
  font-size: 1em;
  color: #fff;
}

#formContact .nombre::-moz-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .nombre:-ms-input-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .nombre::placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .apellido {
  grid-area: apellido;
  height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  transition: 0.4s border;
  font-size: 1.1em;
  color: #fff;
}

#formContact .apellido::-moz-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .apellido:-ms-input-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .apellido::placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .email {
  grid-area: email;
  height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  transition: 0.4s border;
  font-size: 1.1em;
  color: #fff;
}

#formContact .email::-moz-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .email:-ms-input-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .email::placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .telefono {
  grid-area: telefono;
  height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  transition: 0.4s border;
  font-size: 1.1em;
  color: #fff;
}

#formContact .telefono::-moz-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .telefono:-ms-input-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .telefono::placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .localidad {
  grid-area: localidad;
  height: 30px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  transition: 0.4s border;
  font-size: 1.1em;
  color: #fff;
}

#formContact .localidad::-moz-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .localidad:-ms-input-placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact .localidad::placeholder {
  padding-left: 10px;
  color: #fff;
}

#formContact #btn-sub {
  grid-area: btn-submit;
  height: 30px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1em;
  background-color: #c83349;
}

#formContact .btn-clean {
  grid-area: clean;
  height: 30px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1em;
  background-color: #c83349;
}

#formContact input {
  background-color: #e06377;
}

.valoracion__tarjeta {
  transition: width 3s;
}

.valoracion__tarjeta:hover {
  transform: translateY(-20px);
}

.footer {
  display: flex;
  margin-top: 40px;
  padding: 30px;
  background: linear-gradient(to bottom, #ffffff 18%, #e06377 100%);
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer p {
  color: black;
  padding-right: 40px;
  padding-left: 40px;
}

.footer img {
  margin-top: 20px;
  height: 40px;
  width: 40px;
}

.footer h4 {
  width: 100%;
  margin-top: 30px;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
}

.footer img {
  -webkit-animation-name: redes;
          animation-name: redes;
  transition: all 600ms;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes redes {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes redes {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
#jpp0 {
  -webkit-animation-name: jpp;
          animation-name: jpp;
  transition: all 600ms;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#jpp1 {
  -webkit-animation-name: jpp;
          animation-name: jpp;
  transition: all 600ms;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#jpp2 {
  -webkit-animation-name: jpp;
          animation-name: jpp;
  transition: all 600ms;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes jpp {
  from {
    color: #49464e;
  }
  50% {
    color: #fff;
  }
  to {
    color: #2e292a;
  }
}

@keyframes jpp {
  from {
    color: #49464e;
  }
  50% {
    color: #fff;
  }
  to {
    color: #2e292a;
  }
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
}

.main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70%;
}

.main div {
  padding: 0px;
  text-align: center;
}

.main div div {
  margin-top: -30px;
  font-size: 3em;
  font-family: "Caveat", cursive;
}

.aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: auto;
  margin-top: 100px;
  margin: 30px;
}
.aside h4 {
  color: black;
  width: 200px;
  font-size: 1.7em;
}

.imgdiv img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(224, 99, 119, 0.5);
}

.imgdiv img:hover {
  height: 320px;
  width: 320px;
  transition-duration: 1s;
  border-radius: 160px;
}

.asideList {
  font-family: "Caveat", cursive;
  font-size: 0.7em;
}

.aside h4 {
  font-family: "Caveat", cursive;
  margin-top: 30px;
  font-size: 3em;
}

.asideList li {
  font-family: "Caveat", cursive;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .containerMov {
    max-height: 350px;
  }

  .containerMov__text-parrafo {
    font-size: 1.2em;
  }

  #dulce {
    display: flex;
    max-width: 300px;
    font-size: 70px;
    margin-top: 150px;
    text-align: center;
    padding-right: 10px;
  }

  #tejido {
    font-size: 45px;
  }

  #espera {
    font-size: 30px;
    text-align: center;
  }

  .emma {
    font-family: "Caveat", cursive;
    font-size: 2em;
    color: #fff;
    padding-left: 25%;
    padding-top: 5px;
  }

  header {
    display: flex;
    background-color: #e06377;
  }

  header label {
    display: inline-flex;
  }

  .menu {
    position: absolute;
    background: #e06377;
    width: 70%;
    margin-left: -70%;
    margin-top: 50px;
    transition-duration: 0.5s;
    z-index: 100;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li a {
    text-align: left;
    border-bottom: 1px solid #fff;
  }

  .menu li {
    background-color: none;
  }

  #btn-menu:checked ~ .menu {
    margin: 0px;
    margin-top: 50px;
  }

  .main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .img1 img, .img2 img, .img3 img, .img4 img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin: 30px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(224, 99, 119, 0.5);
  }

  .img1 img:hover, .img2 img:hover, .img3 img:hover, .img4 img:hover {
    width: 320px;
    height: 320px;
    transition-duration: 1s;
    border-radius: 160px;
  }

  .main div div {
    margin-top: -30px;
    font-size: 2em;
    font-family: "Caveat", cursive;
  }

  .aside {
    padding: 20px;
  }

  .aside p {
    font-size: 1em;
    padding-top: 50px;
  }

  #formContact {
    display: grid;
    grid-template-areas: "nombre nombre" "apellido apellido" "email email" "telefono telefono" "localidad localidad" "btn-submit clean";
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: stretch;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 30px;
    border: none;
    align-items: center;
    background-color: #e06377;
    border-radius: 10px;
    box-shadow: 0px 9px 21px 6px rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
  }

  .mainContact {
    margin-right: 5px;
    margin-left: 5px;
  }

  .footer p {
    display: inline-block;
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.9em;
  }

  @-webkit-keyframes redes {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes redes {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
}
@media (max-width: 1065px) {
  .main {
    margin-top: 100px;
    max-width: 100%;
  }

  .aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    margin: 30px;
    justify-content: space-between;
  }
  .aside h4 {
    color: black;
    font-size: 1.9em;
  }
  .aside h4 ul {
    list-style: square;
  }
  .aside h4 ul li {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=style.css.map */